---
import Layout from "../layouts/Layout.astro"
import "../assets/css/main.css"
---

<Layout title="Adlova">
  <main>
    <h1>Welcome to <span>Astro</span></h1>
    <h2 class="font-manjari">Init Adlova Project</h2>
  </main>
</Layout>

<style></style>
