---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar/index.astro"
import Home from "../components/Section/Home.astro"
import Service from "../components/Section/Service.astro"
import "../assets/css/main.css"
---

<Layout title="Adlova">
  <Navbar />
  <main>
    <Home />
    <Service />
  </main>
</Layout>

<style></style>
