---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar/index.astro"
import Home from "../components/Section/Home.astro"
import Service from "../components/Section/Service.astro"
import About from "../components/Section/About.astro"
import CallAction from "../components/Section/CallAction.astro"
import FooterCustom from "../components/FooterCustom.astro"
import "../assets/css/main.css"
---

<Layout title="Adlova">
  <Navbar />
  <main>
    <Home />
    <Service />
    <About />
    <CallAction />
  </main>
  <FooterCustom />
</Layout>

<style></style>
