---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Adlova">
  <main>
    <h1>Welcome to <span>Astro</span></h1>
    <h2 class="text-2xl mt-4">Init Adlova Project</h2>
  </main>
</Layout>

<style></style>
