---
---

<section
  class="py-12 px-7 bg-primary-1 bg-[url('https://res.cloudinary.com/dawdpkt4f/image/upload/v1686303810/adlova/bg-cta_z60t4j.svg')] bg-no-repeat bg-right-button bg-cover bg-origin-border lg:w-[80vw] lg:rounded-[32px] lg:absolute lg:left-[10%] md:bg-[url('https://res.cloudinary.com/dawdpkt4f/image/upload/v1686309605/adlova/bg-cta-desktop_kjxpjq.svg')]"
>
  <h1
    class="font-gothic text-white text-[32px] text-center xl:text-[52px] lg:mx-auto lg:max-w-[865px]"
  >
    Ready to take your marketing to the next level?
  </h1>
  <h6
    class="font-manjari text-white text-center mt-6 xl:text-2xl lg:mt-8 lg:max-w-[802px] lg:mx-auto"
  >
    Together, we'll make your brand shine and drive your business forward in the
    digital age.
  </h6>
  <button
    class="bg-black w-full max-w-[307px] mt-6 py-4 rounded-lg mx-auto block lg:mt-8 lg:max-w-[189px]"
  >
    <span class="font-gothic text-white text-lg">Talk to Us</span>
  </button>
</section>
